@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

html {
  background-color: azure;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5vh;
}

.header {
  width: 100%;
  text-align: center;
  height: 130px;
  margin-top: -27px;
  padding-top: 20px;
  font-family: 'Handjet', cursive;
  font-size: 45px;
  background: linear-gradient(rgb(172, 247, 247), azure);
}

.header > h1 {
  margin-top: 10px;
}

.info-div {
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
}

.gameboards-div {
  display: flex;
  gap: 250px;
}

.gameboard {
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  height: 500px;
  border: 2px solid rgb(0, 0, 0);
}

.square-div {
  display: flex;
  justify-content: center;
  align-items: center;
  outline: 1px solid rgb(216, 216, 216);
  color: transparent;
  font-size: 0.7rem
}

.blur-div {
  position: absolute;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(10px);
  animation: fadeIn ease 1s;
}

.end-div {
  top: 50%; right: 50%;
  transform: translate(50%,-50%);
  position: absolute;
  width: 500px;
  height: 300px;
  background-color: rgb(226, 141, 29);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.end-div button {
  margin: 0 auto;
  background-color: aliceblue;
  border: 2px solid black;
  height: 50px;
  width: 150px;
  border-radius: 10px;
}

.winner {
  text-align: center;
  margin-top: 50px;
  font-size: 1.8rem;
}